.navbar {
  // background: linear-gradient(to left, $primary 0%, $danger 50%, $primary 100%) !important;
  background: $primary !important;

  a {
    color: white !important;
    text-transform: uppercase;
    font-weight:700;
    font-family: $headerFont;
    img {
      max-height: 60px;
      width: auto;
    }
  }
}
